<% if (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>

  <h2 class="text-center">Patient Charts Listed by Patient as of <%= (Time.zone.now() - 5*3600).strftime("%Y-%m-%d %H:%M") %></h2>
  
  <button onclick="window.print()", class="btn btn-sm btn-outline-success ps-3 pe-3 rounded-pill" >Print This Page</button>
  <%= link_to 'Back to Patients', regis_path, class:"btn btn-sm btn-outline-secondary m-1 rounded-pill" %>

  <table class="table table-sm table-striped table-hover mt-1">
    <thead class="table-info">
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Subjective</th>
        <th>Objective</th>
        <th>Assessment</th>
        <th>Plan</th>
      </tr>
    </thead>
    </tbody>
      <% @n = 0 %>
      <% Chart.joins(:regi).order("last_name, t_date DESC").each do |chart| %>
        <tr style="height:15px">
        <% @n != chart.regi_id ? show_name = Regi.where(id: chart.regi_id).pluck(:last_name).to_sentence + ", " + Regi.where(id: chart.regi_id).pluck(:first_name).to_sentence + " " + Regi.where(id: chart.regi_id).pluck(:init).to_sentence : show_name = " " %>
        <td><%= show_name %></td>
        <% @n=chart.regi_id %>
        <td><%= chart.t_date %></td>
        <td><%= chart.subj %></td>
        <td><%= chart.obj %></td>
        <td><%= chart.assess %></td>
        <td><%= chart.plan %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
