<% if (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>

  <h2 class="text-center">Patient Charts by Date as of <%= Time.now.in_time_zone("America/New_York").strftime("%Y-%m-%d %H:%M") %></h2>
  
  <button onclick="window.print()", class="btn btn-sm btn-outline-success ps-3 pe-3 rounded-pill" >Print This Page</button>

  <table class="table table-sm table-striped table-hover mt-1">
    <thead class="table-info">
      <tr>
        <th style="width:90px">Date</th>
        <th>Name</th>
        <th>Subjective</th>
        <th>Objective</th>
        <th>Assessment</th>
        <th>Plan</th>
      </tr>
    </thead>
    </tbody>
        <% @date = 0 %>
        <% Chart.joins(:regi).order("t_date DESC, last_name, first_name, init, dob").each do |chart| %>
            <tr style="height:15px">
            <% @date != chart.t_date ? show_date = chart.t_date : show_date = " " %>
            <td><%= show_date %></td> 
            <% @date = chart.t_date %>
            <% @prefix = Regi.find(id = chart.regi_id) %>
            <% show_name = @prefix.last_name + ", " + @prefix.first_name + " " + (@prefix.init? ? @prefix.init + "." : " ") %>
            <% regi_id = Regi.where(id: chart.regi_id).pluck(:id).to_sentence %>
            <td><%= link_to show_name, regi_charts_path(regi_id) %></td>
            <td><%= chart.subj %></td>
            <td><%= chart.obj %></td>
            <td><%= chart.assess %></td>
            <td><%= chart.plan %></td>
            </tr>
        <% end %>
    </tbody>
  </table>

<% end %>
