<% if (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>

  <h2 class="text-center">Patient Charts by Name as of <%= Time.now.in_time_zone("America/New_York").strftime("%Y-%m-%d %H:%M") %></h2>
  
  <button onclick="window.print()", class="btn btn-sm btn-outline-success ps-3 pe-3 rounded-pill" >Print This Page</button>

  <table class="table table-sm table-striped table-hover mt-1">
    <thead class="table-info">
      <tr>
        <th>Name</th>
        <th style="width:100px">Date Entered</th>
        <th>Subjective</th>
        <th>Objective</th>
        <th>Assessment</th>
        <th>Plan</th>
      </tr>
    </thead>
    </tbody>
      <% @name = 0 %>
      <% Chart.joins(:regi).order("last_name, first_name, init, dob, t_date DESC").each do |chart| %>
        <tr style="height:15px">
        <% @prefix = Regi.find(id=chart.regi_id) %>
        <% @name != chart.regi_id ? show_name = @prefix.last_name + ", " + @prefix.first_name + " " + @prefix.init : show_name = " " %>
        <% regi_id = Regi.where(id: chart.regi_id).pluck(:id).to_sentence %>
        <td><%= link_to show_name, regi_charts_path(regi_id) %></td>
        <% @name = chart.regi_id %>
        <td><%= link_to chart.t_date, regi_chart_path(chart.regi_id, chart) %></td>
        <td><%= chart.subj %></td>
        <td><%= chart.obj %></td>
        <td><%= chart.assess %></td>
        <td><%= chart.plan %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
