<% if (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>

  <h2 class="text-center">Patient List as of <%= (Time.zone.now() - 5*3600).strftime("%Y-%m-%d %H:%M") %></h2>
  
  <table class="table table-sm table-striped table-hover mx-auto mt-1;" style="width: 45rem;">
  <button onclick="window.print()", class="btn btn-sm btn-outline-dark mb-3 ps-3 pe-3 rounded-pill">Print Entire Patient List ... </button>
  <%= link_to "Back to Patients", regis_path, class: "btn btn-sm btn-outline-success mb-3 ms-2 ps-3 pe-3 rounded-pill" %>
    <thead class="table-primary">
      <tr style="height:15px">
        <th>Last Name</th>
        <th>First Name</th>
        <th>M. Init</th>
        <th>Gender</th>
        <th>Age</th>
        <th style="width:120px">Date of Birth</th>
      </tr>
    </thead>
  <% @patient_list.each do |regi| %>

    <tr>
      <td><%= regi.last_name %></td>
      <td><%= regi.first_name %></td>
      <td><%= regi.init %></td>
      <td><%= regi.gender %></td>
      <td><%= regi.dob? ? ((Time.zone.now - regi.dob.to_time) / 1.year.seconds).floor : " " %></td>
      <td><%= regi.dob %></td>                
    </tr>
    <% end %>
  </table>

<% end %>
