<% if (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>

<div 
  class="screen"
  style="background-image: url(<%= asset_path 'pine_trees.jpg' %> );">
  <div class="color-overlay d-flex justify-content-center">    
    <div class="card mt-3 mx-auto border-primary" style="width: 48rem;">
        <div class="card shadow border-dark">
          <div class="card-header">
            <h1 class="text-center">Patient Files</h1>
            <%= render 'layouts/identifier' %>
          </div>
          <div class="card-body">
            <%= link_to 'New Filing', new_regi_filing_path(params[:regi_id]), class: "btn btn-sm btn-outline-dark m-1 rounded-pill" %>
            <%= link_to 'Patient Record', regi_patients_path, class:"btn btn-sm btn-outline-primary m-1 rounded-pill" %>
            <%= link_to 'Patient Charts', regi_charts_path, class:"btn btn-sm btn-outline-info m-1 rounded-pill" %>
            <%= link_to 'Return', :back, class:"btn btn-sm btn-outline-secondary m-1 rounded-pill" %>

            <table class="table table-sm table-striped table-hover mt-1">
              <thead class="table-info">
                <tr>
                  <th>File</th>
                  <th>Description</th>
                  <th>Uploaded at</th>
                  <th style="width:220px"></th>
                </tr>
              </thead>
              <tbody>
                <% @regi.filings.order("created_at DESC").each do |filing| %>
                  <tr>
                    <td>
                      <% if filing.image.attached? && filing.image.image? %>
                        <%= image_tag filing.image, height: "25px" %>
                      <% else %>
                        <% 'PDF' %>
                        <%= image_tag (asset_path 'pdf-logo.webp'), height: "25px" %>
                        <%# <img src = '/railspro/reach/app/assets/images/pdf-logo.webp' > %>
                      <% end %>
                    </td>
                    <td><%= filing.describe %></td>
                    <td><%= filing.updated_at.in_time_zone("America/New_York").strftime("%Y-%m-%d, %H:%M") %></td>
                    <td>
                      <div class="btn-group" role="group">
                      <%= link_to 'View', filing.image, class: "btn btn-sm btn-success ms-2 me-2 ps-3 pe-3 rounded-pill" %>
                      <%= link_to 'Change', edit_regi_filing_path(@regi,filing), class: "btn btn-sm btn-warning ms-2 me-2 rounded-pill" %>
                      <%= button_to "Delete", [@regi,filing], method: :delete, class:"btn btn-sm btn-danger ms-2 me-2 rounded-pill", form: { data: { turbo_confirm: "Are you sure?" } } %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>

<% end %>