<%= form_with(model: [@regi, @chart]) do |f| %>
  <% if @chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chart.errors.count, "error") %> prohibited this chart from being saved:</h2>

      <ul>
      <% @chart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col col-md-2">
      <b>Updated on</b>
      <%= f.date_field :t_date, class:"form-control form-control-sm border-primary" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <b>Acupoints Used</b>
      <%= f.text_field :aq_list, class:"form-control form-control-sm border-primary" %>
    </div>
    <div class="col">
      <b>Chinese Medicines</b>
      <%= f.text_field :c_med_list, class:"form-control form-control-sm border-primary" %>
    </div>
    <div class="col">
      <b>Formulae</b>
      <%= f.text_field :c_for_list, class:"form-control form-control-sm border-primary" %>
    </div>
    <div class="col">
      <b>Other Treatments</b>
      <%= f.text_field :o_treats, class:"form-control form-control-sm border-primary" %>
    </div>
  </div>

  <div class="col">
    <b>S.O.A.P.</br>
    <%= f.text_area :soap, class:"form-control form-control-sm border-primary", style:"height: 100px" %>
  </div>
  <br>
  <div class="btn-group" role="group">
    <%= f.submit "Submit", class: "btn btn-sm btn-primary m-2 rounded-pill" %>
<% end %>
  <%= button_to "Delete", [@regi,@chart], method: :delete, class:"btn btn-sm btn-danger m-2 rounded-pill", form: { data: { turbo_confirm: "Are you sure?" } } %>
  <%= link_to 'Retun', regi_charts_path(@regi), class:"btn btn-sm btn-success m-2 rounded-pill" %>
  </div>
