<%= form_with(model: [@regi, @chart]) do |f| %>
  <% if @chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chart.errors.count, "error") %> prohibited this chart from being saved:</h2>

      <ul>
      <% @chart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col col-md-2">
      <b>Updated on</b>
      <%= f.date_field :t_date, class:"form-control form-control-sm border-primary" %>
    </div>
  </div>
  <br>
  <div class="col">
    <b>Subjective</b>
    <%= f.text_area :subj, class:"form-control form-control-sm border-primary", style:"height: 50px" %>
  </div>
  <br>
  <div class="col">
    <b>Objective</b>
    <%= f.text_area :obj, class:"form-control form-control-sm border-primary", style:"height: 50px" %>
  </div>
  <br>
  <div class="col">
    <b>Assessment</b>
    <%= f.text_area :assess, class:"form-control form-control-sm border-primary", style:"height: 50px" %>
  </div>
  <br>
  <div class="col">
    <b>Plan</b>
    <%= f.text_area :plan, class:"form-control form-control-sm border-primary", style:"height: 50px" %>
  </div>
  <br>
  <div class="btn-group" role="group">
    <%= f.submit "Submit", class: "btn btn-sm btn-primary m-2 rounded-pill" %>
<% end %>
  <%= button_to "Delete", [@regi,@chart], method: :delete, class:"btn btn-sm btn-danger m-2 rounded-pill", form: { data: { turbo_confirm: "Are you sure?" } } %>
  <%= link_to 'Retun', regi_charts_path(@regi), class:"btn btn-sm btn-success m-2 rounded-pill" %>
  </div>
