<% if (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>

  <h1 class="text-center">Patient Charts</h1>
  <%= render 'layouts/identifier' %>

  <%= link_to 'New Chart', new_regi_chart_path, class: "btn btn-sm btn-outline-dark m-1 rounded-pill" %>
  <%= link_to 'Patient Record', regi_patients_path, class:"btn btn-sm btn-outline-primary m-1 rounded-pill" %>
  <%= link_to 'Patient Files', regi_filings_path, class:"btn btn-sm btn-outline-info m-1 rounded-pill" %>

  <table class="table table-sm table-striped table-hover mt-1">
    <thead class="table-info">
      <tr>
        <th style="width:105px">Dated on</th>
        <th style="width:25vw">Subjective</th>
        <th style="width:18vw">Objective</th>
        <th style="width:12vw">Assessment</th>
        <th style="width:35vw">Plan</th>
      </tr>
    </thead>
    </tbody>
      <% @regi.charts.order("t_date DESC").each do |chart| %>
        <tr style="height:15px">
          <td><%= link_to chart.t_date, regi_chart_path(@regi,chart) %></td>
          <td><%= chart.subj %></td>
          <td><%= chart.obj %></td>
          <td><%= chart.assess %></td>
          <td><%= chart.plan %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
