<% if (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>

  <h1 class="text-center">Patient charts</h1>
  <%= render 'layouts/identifier' %>

  <%= link_to 'New Chart', new_regi_chart_path, class: "btn btn-sm btn-outline-dark m-1 rounded-pill" %>
  <%= link_to 'Patient Record', regi_patients_path, class:"btn btn-sm btn-outline-success m-1 rounded-pill" %>

  <table class="table table-sm table-striped table-hover mt-1">
    <thead class="table-info">
      <tr>
        <th style="width:105px">Dated on</th>
        <th>S.O.A.P.</th>
        <th>Acupuncture针灸</th>
        <th>Medicines中药</th>
        <th>Formulae方剂</th>
        <th>Other其它</th>
      </tr>
    </thead>
    </tbody>
      <% @regi.charts.order("t_date DESC").each do |chart| %>
        <tr style="height:15px">
          <td><%= link_to chart.t_date, regi_chart_path(@regi,chart)  %></td>
          <td style="overflow: hidden"><%= chart.soap %></td>
          <td><%= chart.aq_list %></td>
          <td><%= chart.c_med_list %></td>
          <td><%= chart.c_for_list %></td>
          <td><%= chart.o_treats %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
