<% if (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>

  <h2 class="text-center">Patient Charts Updated as of <%= Time.now.in_time_zone("America/New_York").strftime("%Y-%m-%d %H:%M") %></h2>

  <button onclick="window.print()", class="btn btn-sm btn-outline-success ps-3 pe-3 rounded-pill" >Print This Page</button>

  <table class="table table-sm table-striped table-hover mt-1">
    <thead class="table-info">
      <tr>
        <th style="width:125px">Updated/ Create Dates</th>
        <th>Treatment Date</th>
        <th>Name</th>
        <th>Subjective</th>
        <th>Objective</th>
        <th>Assessment</th>
        <th>Plan</th>
      </tr>
    </thead>
    </tbody>
        <% Chart.joins(:regi).order("updated_at DESC, t_date DESC").each do |chart| %>
            <tr>
            <td>
              <%= chart.updated_at.in_time_zone("America/New_York").strftime("%y-%m-%d %H:%m") %> /
              <%= chart.created_at.in_time_zone("America/New_York").strftime("%y-%m-%d") %>
            </td>
            <td><%= chart.t_date %></td>
            <% show_name = Regi.find(id=chart.regi_id).last_name + ", " + Regi.find(id=chart.regi_id).first_name + " " + (Regi.find(id=chart.regi_id).init? ? Regi.find(id=chart.regi_id).init + 
            "." : " " ) %>
            <%# regi_id = Regi.find(id=chart.regi_id) %>
            <td><%= link_to show_name, regi_charts_path(Regi.find(id=chart.regi_id)) %></td>
            <td><%= chart.subj %></td>
            <td><%= chart.obj %></td>
            <td><%= chart.assess %></td>
            <td><%= chart.plan %></td>
            </tr>
        <% end %>
    </tbody>
  </table>

<% end %>