<% if (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>

  <h2 class="text-center">Patient List Updated as of <%= Time.now.in_time_zone("America/New_York").strftime("%Y-%m-%d %H:%M") %></h2>
  <p class="text-center"><button onclick="window.print()", class="btn btn-sm btn-outline-dark mb-3 ps-3 pe-3 rounded-pill">Print Entire Patient List ... </button></p>
  
  <table class="table table-sm table-striped table-hover mx-auto mt-1;" style="width: 48rem;">
    <thead class="table-primary">
      <tr style="height:15px">
        <th>Updated on</th>
        <th>Created on</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>M. Init</th>
        <th>Gender</th>
        <th>Age</th>
        <th style="width:120px">Date of Birth</th>
      </tr>
    </thead>
  <% @patient_list_update.each do |regi| %>

    <tr>
      <td><%= (regi.updated_at - 4*3600).strftime("%y-%m-%d %H:%m") %></td>
      <td><%= (regi.created_at - 4*3600).strftime("%y-%m-%d") %></td>
      <td><%= link_to regi.last_name, regi_path(regi.id) %></td>
      <td><%= regi.first_name %></td>
      <td><%= regi.init? ? regi.init + "." : "" %></td>
      <td><%= regi.gender %></td>
      <td><%= regi.dob? ? ((Time.now.in_time_zone("America/New_York") - regi.dob.to_time) / 1.year.seconds).floor : " " %></td>
      <td><%= regi.dob %></td>                
    </tr>
    <% end %>
  </table>

<% end %>
