<% if (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>
  <%= form_with(model: [@regi, @patient]) do |f| %>
    <% if @patient.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

        <ul>
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :name, value: (@regi.last_name + ", " + @regi.first_name + " " + (@regi.init? ? (@regi.init + ".") : '' )), hidden: true %>
  
    <div class="row">
      <div class="col-md-2">
        <b><%= f.label :v_date, "Updated on", class:"form-label" %></b>
        <%= f.date_field :v_date, placeholder: "MM/DD/YYYY", class: "form-control form-control-sm form-control-sm border-primary" %>
      </div>
      <div class="col-md-5">
        <b><%= f.label :street, "Street", class:"form-label" %></b>
        <%= f.text_field :street, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :city, "City", class:"form-label" %></b>
        <%= f.text_field :city, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-1">
        <b><%= f.label :state, "State", class:"form-label" %></b>
        <%= f.text_field :state, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :zip, "Zip Code", class:"form-label" %></b>
        <%= f.text_field :zip, class: "form-control form-control-sm border-primary" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <b><%= f.label :height, "Height", class:"form-label" %></b>
        <%= f.number_field :height, step: 0.1, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-3">
        <b><%= f.label :weight, "Weight", class:"form-label" %></b>
        <%= f.number_field :weight, step: 0.1, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :m_stat, "Marital Status", class:"form-label" %></b><br>
        <%= f.select :m_stat, Patient::MARITAL_STATUS, class: "form-select" %>
      </div>
      <div class="col-md-4">
        <b><%= f.label :referred, "Referred by", class:"form-label" %></b>
        <%= f.text_field :referred, class: "form-control form-control-sm border-primary" %>
      </div> 
    </div>

    <div class="row">
      <div class="col-md-3">
        <b><%= f.label :cell, "Cell Phone", class:"form-label" %></b>
        <%= f.text_field :cell, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-3">
        <b><%= f.label :home, "Home Phone", class:"form-label" %></b>
        <%= f.text_field :home, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-3">
        <b><%= f.label :work, "Work Phone", class:"form-label" %></b>
        <%= f.text_field :work, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-3">
        <b><%= f.label :email, "Email", class:"form-label" %></b>
        <%= f.email_field :email, class: "form-control form-control-sm border-primary" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <b><%= f.label :com1, "Complaint 1", class:"form-label" %></b>
        <%= f.text_field :com1, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-4">
        <b><%= f.label :com2, "Complaint 2", class:"form-label" %></b>
        <%= f.text_field :com2, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-4">
        <b><%= f.label :com3, "Complaint 3", class:"form-label" %></b>
        <%= f.text_field :com3, class: "form-control form-control-sm border-primary" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <b><%= f.label :d_onset, "Date Onset", class:"form-label" %></b>
        <%= f.date_field :d_onset, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :pain_scale, "Pain Scale 1-10", class:"form-label" %></b>
        <%= f.number_field :pain_scale, in: 0..10, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :d_lost, "Work-days Lost", class:"form-label" %></b>
        <%= f.number_field :d_lost, in: 0..100, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :d_restd, "Days Restricted", class:"form-label" %></b>
        <%= f.number_field :d_restd, in: 0..100, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-3">
        <b><%= f.label :c_onset, "Conditions Onset", class:"form-label" %></b>
        <%= f.text_field :c_onset, class: "form-control form-control-sm border-primary" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <b><%= f.label :better, "What makes it better?", class:"form-label" %></b>
        <%= f.text_field :better, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-6">
        <b><%= f.label :worse, "What makes it worse?", class:"form-label" %></b>
        <%= f.text_field :worse, class: "form-control form-control-sm border-primary" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <b><%= f.label :o_drs, "Seen other Drs?", class:"form-label" %></b><br>
        <%= f.select :o_drs, Patient::SEEN_DR, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :o_drs_when, "When?", class:"form-label" %></b>
        <%= f.date_field :o_drs_when, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-4">
        <b><%= f.label :pcp_name, "Prim.Care Dr. Name", class:"form-label" %></b>
        <%= f.text_field :pcp_name, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :hosp, "Hospitalized?", class:"form-label" %></b><br>
        <%= f.select :hosp, Patient::HOSPITALIZED, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :h_when, "When?", class:"form-label" %></b>
        <%= f.date_field :h_when, class: "form-control form-control-sm border-primary" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <b><%= f.label :diag_given, "Diagnoses given?", class:"form-label" %></b>
        <%= f.text_field :diag_given, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :diag_where, "Where", class:"form-label" %></b>
        <%= f.text_field :diag_where, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :aq_b4, "Had acupunture?", class:"form-label" %></b><br>
        <%= f.select :aq_b4, Patient::ACU_BEFORE, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :aqrist, "Name of Dr?", class:"form-label" %></b>
        <%= f.text_field :aqrist, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :aq_where, "Where", class:"form-label" %></b>
        <%= f.text_field :aq_where, class: "form-control form-control-sm border-primary" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <b><%= f.label :di_list, "Major Health Issues:", class:"form-label" %></b><br>
        
        <% Patient::HEALTH.each do |h| %>
          <%= f.check_box :di_list, { multiple: true, checked: f.object.di_list&.include?(h.to_s)}, h, nil %>
          <%= f.label h %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <b><%= f.label :o_dis, "Other Issues", class:"form-label" %></b>
        <%= f.text_field :o_dis, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-4">
        <b><%= f.label :inj_surg, "Major Injuries/Surgeries", class:"form-label" %></b>
        <%= f.text_field :inj_surg, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-4">
        <b><%= f.label :med_taken, "Medicines Currently Taken", class:"form-label" %></b>
        <%= f.text_field :med_taken, class: "form-control form-control-sm border-primary" %>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-2">
        <b><%= f.label :alcohol, "Alcohol:How much?", class:"form-label" %></b>
        <%= f.text_field :alcohol, class: "form-control form-control-sm border-primary", placeholder: "?/week" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :tobacco, "Tobacco:How much?", class:"form-label" %></b>
        <%= f.text_field :tobacco, class: "form-control form-control-sm border-primary", placeholder: "?/day"  %>
      </div>
      <div class="col-md-4">
        <i>For female only:</i> 
        <b><%= f.label :last_prd, "When was your last period?", class:"form-label" %></b>
        <%= f.date_field :last_prd, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :preg, "Are you pregnant?", class:"form-label" %></b><br>
        <%= f.select :preg, Patient::PREG, class: "form-control form-control-sm border-primary" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :preg_wks, "How many weeks?", class:"form-label" %></b>
        <%= f.number_field :preg_wks, class: "form-control form-control-sm border-primary" %>
      </div>
    </div>

    <div class="btn-group" role="group">
      <%= f.submit "Submit", data: { burbo: false}, class:'btn btn-primary btn-sm m-2 rounded-pill' %>
  <% end %>    
    <%= button_to 'Delete', [@regi,@patient], method: :delete, class:"btn btn-danger btn-sm m-2 mt-2 rounded-pill", form: { data: { turbo_confirm: 'Are you sure?' }  } %>
    <%# link_to "Return", regi_patients_path, class:'btn btn-success btn-sm m-2 rounded-pill' %>
    <%= link_to "Return", :back, class:'btn btn-success btn-sm m-2 rounded-pill' %>

    </div>
<% end %>