<% @p = Patient.where(regi_id: params[:regi_id]).order('v_date ASC') %>

<%= form_with(model: [@regi,@patient]) do |f| %>

  <div class="row">
    <div class="col-md-2">
      <b><%= f.label :v_date, "Updated on", class:"form-label" %></b>
      <%= f.date_field :v_date, value: @p.last.v_date, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-5">
      <b><%= f.label :street, "Street", class:"form-label" %></b>
      <%= f.text_field :street, value: @p.last.street, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :city, "City", class:"form-label" %></b>
      <%= f.text_field :city, value: @p.last.city, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-1">
      <b><%= f.label :state, "State", class:"form-label" %></b>
      <%= f.text_field :state, value: @p.last.state, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :zip, "Zip Code", class:"form-label" %></b>
      <%= f.text_field :zip, value: @p.last.zip, class: "form-control form-control-sm border-primary" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <b><%= f.label :height, "Height", class:"form-label" %></b>
      <%= f.text_field :height, value: @p.last.height, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-3">
      <b><%= f.label :weight, "Weight", class:"form-label" %></b>
      <%= f.text_field :weight, value: @p.last.weight, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :m_stat, "Marital Status", class:"form-label" %></b><br>
      <%= f.select :m_stat, Patient::MARITAL_STATUS, value: @p.last.m_stat, class: "form-control form-control-sm block" %>
    </div>
    <div class="col-md-4">
      <b><%= f.label :referred, "Referred by", class:"form-label" %></b>
      <%= f.text_field :referred, value: @p.last.referred, class: "form-control form-control-sm border-primary" %>
    </div> 
  </div>

  <div class="row">
    <div class="col-md-3">
      <b><%= f.label :cell, "Cell Phone", class:"form-label" %></b>
      <%= f.text_field :cell, value: @p.last.cell, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-3">
      <b><%= f.label :home, "Home Phone", class:"form-label" %></b>
      <%= f.text_field :home, value: @p.last.home, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-3">
      <b><%= f.label :work, "Work Phone", class:"form-label" %></b>
      <%= f.text_field :work, value: @p.last.work, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-3">
      <b><%= f.label :email, "Email", class:"form-label" %></b>
      <%= f.email_field :email, value: @p.last.email, class: "form-control form-control-sm border-primary" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <b><%= f.label :com1, "Complaint 1", class:"form-label" %></b>
      <%= f.text_field :com1, value: @p.last.com1, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-4">
      <b><%= f.label :com2, "Complaint 2", class:"form-label" %></b>
      <%= f.text_field :com2, value: @p.last.com2, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-4">
      <b><%= f.label :com3, "Complaint 3", class:"form-label" %></b>
      <%= f.text_field :com3, value: @p.last.com3, class: "form-control form-control-sm border-primary" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <b><%= f.label :d_onset, "Date Onset", class:"form-label" %></b>
      <%= f.date_field :d_onset, value: @p.last.d_onset, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :pain_scale, "Pain Scale 1-10", class:"form-label" %></b>
      <%= f.number_field :pain_scale, in: 0..10, value: @p.last.pain_scale, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :d_lost, "Work-days Lost", class:"form-label" %></b>
      <%= f.number_field :d_lost, in: 0..100, value: @p.last.d_lost, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :d_restd, "Days Restricted", class:"form-label" %></b>
      <%= f.number_field :d_restd, in: 0..100, value: @p.last.d_restd, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-3">
      <b><%= f.label :c_onset, "Conditions Onset", class:"form-label" %></b>
      <%= f.text_field :c_onset, value: @p.last.c_onset, class: "form-control form-control-sm border-primary" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <b><%= f.label :better, "What makes it better?", class:"form-label" %></b>
      <%= f.text_field :better, value: @p.last.better, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-6">
      <b><%= f.label :worse, "What makes it worse?", class:"form-label" %></b>
      <%= f.text_field :worse, value: @p.last.worse, class: "form-control form-control-sm border-primary" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <b><%= f.label :o_drs, "Seen other Drs?", class:"form-label" %></b><br>
      <%= f.select :o_drs, Patient::SEEN_DR, value: @p.last.o_drs, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :o_drs_when, "When?", class:"form-label" %></b>
      <%= f.date_field :o_drs_when, value: @p.last.o_drs_when, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-4">
      <b><%= f.label :pcp_name, "Prim.Care Dr. Name", class:"form-label" %></b>
      <%= f.text_field :pcp_name, value: @p.last.pcp_name, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :hosp, "Hospitalized?", class:"form-label" %></b>
      <%= f.select :hosp, Patient::HOSPITALIZED, value: @p.last.hosp, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :h_when, "When?", class:"form-label" %></b>
      <%= f.date_field :h_when, value: @p.last.h_when, class: "form-control form-control-sm border-primary" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <b><%= f.label :diag_given, "Diagnoses given?", class:"form-label" %></b>
      <%= f.text_field :diag_given, value: @p.last.diag_given, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :diag_where, "Where", class:"form-label" %></b>
      <%= f.text_field :diag_where, value: @p.last.diag_where, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :aq_b4, "Acupunture before?", class:"form-label" %></b><br>
      <%= f.select :aq_b4, Patient::ACU_BEFORE, value: @p.last.aq_b4, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :aqrist, "Name of Dr?", class:"form-label" %></b>
      <%= f.text_field :aqrist, value: @p.last.aqrist, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :aq_where, "Where", class:"form-label" %></b>
      <%= f.text_field :aq_where, value: @p.last.aq_where, class: "form-control form-control-sm border-primary" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <b><%= f.label :di_list, "Major Health Issues:", class:"form-label" %></b><br>
      
      <% Patient::HEALTH.each do |h| %>
        <%= f.check_box :di_list, { multiple: true, checked: f.object.di_list&.include?(h.to_s)}, h, nil %>
        <%= f.label h %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <b><%= f.label :o_dis, "Other Issues", class:"form-label" %></b>
      <%= f.text_field :o_dis, value: @p.last.o_dis, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-4">
      <b><%= f.label :inj_surg, "Major Injuries/Surgeries", class:"form-label" %></b>
      <%= f.text_field :inj_surg, value: @p.last.inj_surg, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-4">
      <b><%= f.label :med_taken, "Medicines Currently Taken", class:"form-label" %></b>
      <%= f.text_field :med_taken, value: @p.last.med_taken, class: "form-control form-control-sm border-primary" %>
    </div>
  </div>
 
  <div class="row">
    <div class="col-md-2">
      <b><%= f.label :alcohol, "Alcohol: How much?", class:"form-label" %></b>
      <%= f.text_field :alcohol, class: "form-control form-control-sm border-primary", value: @p.last.alcohol %>
    </div>
    <div class="col-md-2">
    <b><%= f.label :tobacco, "Tobacco: How much?", class:"form-label" %></b>
    <%= f.text_field :tobacco, class: "form-control form-control-sm border-primary", value: @p.last.tobacco %>
    </div>
    <div class="col-md-4">
      <i>For female only:</i> 
      <b><%= f.label :last_prd, "When was your last period?", class:"form-label" %></b>
      <%= f.date_field :last_prd, value: @p.last.last_prd, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :preg, "Are you pregnant?", class:"form-label" %></b>
      <%= f.select :preg, Patient::PREG, value: @p.last.preg, class: "form-control form-control-sm border-primary" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :preg_wks, "How many weeks?", class:"form-label" %></b>
      <%= f.number_field :preg_wks, value: @p.last.preg_wks, class: "form-control form-control-sm border-primary" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Submit", data: { burbo: false}, class:'btn btn-primary btn-sm m-2 rounded-pill' %>
<% end %>
    <%= link_to "Return", regi_patients_path, class:'btn btn-success btn-sm m-2 rounded-pill' %>
  </div>