<%= if (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>

  <h1 class="text-center">Edit Patient Information</h1>
  <%= render 'layouts/identifier' %>
  <%= link_to 'Patient Info', regi_patients_path, class:'btn btn-info btn-sm rounded-pill' %>
  <%= render 'form' %>
  
<%= end %>

