<% if (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>
  <h1 class="text-center">Patient Records</h1>
  <%= render 'layouts/identifier' %>
  <%= link_to 'New Record', new_regi_patient_path, class:'btn btn-sm btn-outline-dark m-1 rounded-pill' %>
  <%= link_to 'Patient Charts', regi_charts_path, class:"btn btn-sm btn-outline-primary m-1 rounded-pill" %>
  <%= link_to 'Patient Files', regi_filings_path, class:"btn btn-sm btn-outline-info m-1 rounded-pill" %>
  <button onclick="window.print()", class="btn btn-sm btn-outline-success ps-3 pe-3 rounded-pill" >Print This Page</button>

  <table class="table table-sm table-striped table-hover mt-1">
    <thead class="table-success">
    <tr>
        <th style="width:105px">Dated on</th>
        <th>Contact Info</th>
        <th>Weight</th>
        <th>Complaints</th>
        <th>Onset/Pain</th>
        <th>PCP</th>
        <th>Health History</th>
        <th style="width:115px">Meds Taken</th>
      </tr>
    </thead>
    </tbody>

      <% @regi.patients.order('v_date DESC').each do |patient| %>
        <tr>
          <td>
            <%= link_to patient.v_date, regi_patient_path(@regi,patient) %>
          </td>  
          <td>
            <%= patient.street %><%= ', ' if patient.street? %>
            <%= patient.city %>
            <%= patient.state %>
            <%= patient.zip %>
            <%= 'Cell:' if patient.cell? %><%= patient.cell %>
            <%= 'Home:' if patient.home? %><%= patient.home %>
            <%= 'Work:' if patient.work? %><%= patient.work %>
            <%= 'Email:' if patient.email? %><%= patient.email %>
          </td>
          <td>
            <%= patient.weight %>
          </td>
          <td>
            <%= '1.' if patient.com1? %>
            <%= patient.com1 %><%= ' 2.' if patient.com2? %>
            <%= patient.com2 %><%= ' 3.' if patient.com3? %>
            <%= patient.com3 %>
          </td>
          <td>
            <%= patient.d_onset %><%= '/Pain: ' if patient.pain_scale? %>
            <%= patient.pain_scale %>
          </td>
          <td><%= patient.pcp_name %></td>
          <td>
            <%= (patient.di_list.to_sentence).gsub(/_/, ' ').gsub(/;/, '') %><%= ', ' if patient.o_dis? %>
            <%= patient.o_dis %><%= ', ' if patient.inj_surg? %>
            <%= patient.inj_surg %><%= ', Preg' if patient.preg == 'Yes' %>
          </td>
          <td><%= patient.med_taken %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>