<%= link_to "Search Patient", "#offcanvasExample", data: { bs_toggle: "offcanvas" }, area: { controls: "offcanvasExample" }, role: "button", class: "btn btn-sm btn-outline-primary rounded-pill" %>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Search Patients Here</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <%= search_form_for @q do |f| %>
        <div class="form-group">
          <b><%= f.label :by_last_name_cont, "By Last Name", class: "form-label" %></b>
          <%= f.search_field :last_name_cont, class:"form-control form-control-sm border-primary mb-3" %>
        </div>
        <div class="form-group">
          <b><%= f.label :by_first_name_cont, "By First Name", class: "form-label" %></b>
          <%= f.search_field :first_name_cont, class:"form-control form-control-sm border-primary mb-3" %>
        </div>
        <div class="form-group">
          <b><%= f.label :by_last_name_or_first_name_cont, "By First Name or Last Name", class: "form-label" %></b>
          <%= f.search_field :last_name_or_first_name_cont, class:"form-control form-control-sm border-primary mb-3" %>
        </div>
        <div class="form-group">
          <b><%= f.label :by_gender_eq, "By Gender (Male/Female/Other)", class: "form-label" %></b>
          <%= f.search_field :gender_eq, class:"form-control form-control-sm border-primary mb-3" %>
        </div>
        <div class="form-group">
          <%= f.submit "Submit", class: 'btn btn-sm btn-outline-dark rounded-pill' %>
        </div>
      <% end %>
    </div>
  </div>
<%= link_to "Reset", regis_path, class: "btn btn-sm btn-outline-success ps-3 pe-3 m-1 rounded-pill" %>