<% if (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>

<div 
  class="screen"
  style="background-image: url(<%= asset_path 'pine_trees.jpg' %> );">
  <div class="color-overlay d-flex justify-content-center">    
    <div class="card mt-3 mx-auto border-primary" style="width: 48rem;">
        <div class="card shadow border-dark">
          <div class="card-header">
            <h2 class="card-title text-center">Patient Listing</h2>
          </div>
          <div class="card-body">

            <%= link_to "New Patient", new_regi_path, class: "btn btn-sm btn-outline-dark ps-3 pe-3 rounded-pill" %>
            <%= render 'search' %>
            <button onclick="window.print()", class="btn btn-sm btn-outline-success ps-3 pe-3 rounded-pill" >Print This Page</button>

            <table class="table table-sm table-striped table-hover mx-auto mt-1">
              <thead class="table-primary">
                <tr>
                  <th>Last Name</th>
                  <th>First Name</th>
                  <th>M. Init</th>
                  <th>Gender</th>
                  <th>Age</th>
                  <th>Date of Birth</th>
                  <th style="width:220px"></th>
                </tr>
              </thead>
            <% @regis.order('last_name ASC').each do |regi| %>

              <tr>
                <td><%= link_to regi.last_name, regi_path(regi.id) %></td>
                <td><%= regi.first_name %></td>
                <td><%= regi.init %></td>
                <td><%= regi.gender %></td>
                <% @age = ((Time.zone.now - regi.dob.to_time) / 1.year.seconds).floor %>
                <td><%= @age %>
                <td><%= regi.dob %></td>                
                <td>
                <%= link_to 'Records', regi_patients_path(regi.id), class: "btn btn-outline-primary btn-sm rounded-pill" %>
                <%= link_to 'Charts', regi_charts_path(regi.id), class: "btn btn-outline-info btn-sm rounded-pill" %>
                <%= link_to 'Files', regi_filings_path(regi.id), class: "btn btn-outline-success btn-sm ps-3 pe-3 rounded-pill" %>
                </td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>

<% end %>