<%# if (current_user && current_user.manager?) || (current_user && current_user.admin?) %>

  <h1 class="text-center">Patient Listing</h1>

  <%= link_to "New Patient", new_regi_path, class: "btn btn-sm btn-outline-dark ps-3 pe-3 rounded-pill" %>
  <%# link_to "Users", users_path, class: "btn btn-outline-info col-md-2" %>
  <%= render 'search' %>

  <table class="table table-sm table-striped table-hover mt-1">
    <thead class="table-primary">
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>M. Initial</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th style="width:150px"></th>
      </tr>
    </thead>
  <% @regis.order('last_name ASC').each do |regi| %>

    <tr>
      <td><%= link_to regi.last_name, regi_path(regi.id) %></td>
      <td><%= regi.first_name %></td>
      <td><%= regi.init %></td>
      <td><%= regi.gender %></td>
      <td><%= regi.dob %></td>
      
      <td>
      <%= link_to 'Records', regi_patients_path(regi.id), class: "btn btn-outline-primary btn-sm rounded-pill" %>
      <%= link_to 'Charts', regi_charts_path(regi.id), class: "btn btn-outline-success btn-sm rounded-pill" %>
      </td>

    </tr>
    <% end %>
  </table>

<%# end %>